extends layout

block content
    h1 #{title}
    form(method='POST', action='/articles/add')
        lable Title:
        input(name='title', type='text')
        lable Author:
        input(name='author', type='text')
        lable Content:
        textarea(name='body')
        input(type="submit" value="SUBMIT")
