doctype html
html
    head
        title KnowledgeBase
        link(rel="stylesheet", href="/style.css")
    body
        nav
            .contener
                h3 KnowledgeBase
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="/articles/add") Add Article
        .contener
            block content
        br
        footer
            hr
            .contener
                p Copyright &copy; 2018